<div class="item">
    <div>Avatar URL</div>
    <div>
        <input 
            type="url" 
            name="avatar_url" 
            placeholder='http://'
            value="{{ student.avatar_url }}"
        >               
    </div>
</div>
       
<div class="item">
    <div>Nome</div>
    <div>
        <input
            type="text"
            name="name"
            placeholder='Nome do Membro'
            value="{{ student.name }}"
        >                
    </div>
</div>

<div class="item">
    <div>Email</div>
    <div>
        <input 
            type="email" 
            name="email" 
            value="{{ student.email }}"
        >               
    </div>
</div>

<div class="item">
    <div>Data de Nascimento</div>
    <div>
        <input 
            type="date" 
            name="birth"
            value="{{ student.birth }}" 
        >
    </div>
</div>

<div class="item">
    <div>Sexo</div>
    <div>
        <span>
            <input 
                type="radio" 
                name="gender"
                value="M" 
                {% if student.gender == "M" %}
                    checked
                {% endif %}>Masculino
        </span>
        <span>
            <input 
                type="radio" 
                name="gender"
                value="F" 
                {% if student.gender == "F" %}
                    checked
                {% endif %}>Feminino
        </span>
        
    </div>
</div>



<div class="item">
    <div>Ano Escolar</div>
    <div>
        <select name="schoolYear">
            <option value="5º SF" {% if student.schoolYear == "5º SF" %} select {% endif %}>
                5º Ano do Ensino Fundamental
            </option>
            <option value="6º SF" {% if student.schoolYear == "6º SF" %} select {% endif %}>
                6º Ano do Ensino Fundamental
            </option>
            <option value="7º SF" {% if student.schoolYear == "7º SF" %} select {% endif %}>
                7º Ano do Ensino Fundamental
            </option>
            <option value="8º SF" {% if student.schoolYear == "8º SF" %} select {% endif %}>
                8º Ano do Ensino Fundamental
            </option>
            <option value="9º SF" {% if student.schoolYear == "9º SF" %} select {% endif %}>
                9º Ano do Ensino Fundamental
            </option>
            <option value="1º EM" {% if student.schoolYear == "1º EM" %} select {% endif %}>
                1º Ano do Ensino Médio
            </option>
            <option value="2º EM" {% if student.schoolYear == "2º EM" %} select {% endif %}>
                2º Ano do Ensino Médio
            </option>
            <option value="3º EM" {% if student.schoolYear == "3º EM" %} select {% endif %}>
                3º Ano do Ensino Médio 
            </option>
        </select>
    </div>
</div>

<div class="item">
    <div>Carga Horária Semanal</div>
    <div>
        <input 
            type="number" 
            name="workload"
            value="{{ student.workload }}" 
        >
    </div>
</div>


<button type='submit'>Salvar</button>